@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:wght@300;400&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
